# ‚öΩ Premier League Dataset ‚Äì Data Cleaning

This notebook focuses on cleaning and preparing the Premier League dataset for analysis and storytelling. The dataset includes match-level data from the 1993‚Äì94 season to the present.

**Goals:**
- Handle missing values
- Standardize column names and formats
- Ensure data types are correct
- Create features for future analysis (e.g., match result, goal difference)

üìÅ Data Source: [Kaggle - Premier League](https://www.kaggle.com/datasets/ajaxianazarenka/premier-league)  
üìÑ License: MIT ‚Äì credit to [IvanRamosDataTech](https://www.kaggle.com/ivanramosdatatech)

In [32]:
import pandas as pd

In [43]:
prem = pd.read_csv('../data/raw/PremierLeague.csv')
prem.head(1)

,MatchID,Season,MatchWeek,Date,Time,HomeTeam,AwayTeam,FullTimeHomeTeamGoals,FullTimeAwayTeamGoals,FullTimeResult,...,MarketMaxAwayTeam,MarketAvgHomeTeam,MarketAvgDraw,MarketAvgAwayTeam,MarketMaxOver2.5Goals,MarketMaxUnder2.5Goals,MarketAvgOver2.5Goals,MarketAvgUnder2.5Goals,HomeTeamPoints,AwayTeamPoints
0,1993-1994_Arsenal_Coventry,1993-1994,1,1993-08-14,NaN,Arsenal,Coventry,0,3,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3

## Seperating the 'Date' column
The dataset included a single column for date. To be able to conduct a more in-depth analysis I broke down the date column into three ['year', 'month', 'day']

In [39]:
prem['Date'] = pd.to_datetime(prem['Date'])
prem1 = prem

In [40]:
prem1['year'] = prem1['Date'].dt.year
prem1['month'] = prem1['Date'].dt.month
prem1['day'] = prem1['Date'].dt.day

## üßπ Dropping Unused Betting Odds Columns

The dataset includes various betting odds columns (from Bet365 and market averages). For this analysis, we‚Äôll drop these columns to simplify the dataset.

In [41]:
odds_columns = [
    'B365HomeTeam', 'B365Draw', 'B365AwayTeam', 'B365Over2.5Goals', 'B365Under2.5Goals',
    'MarketMaxHomeTeam', 'MarketMaxDraw', 'MarketMaxAwayTeam',
    'MarketAvgHomeTeam', 'MarketAvgDraw', 'MarketAvgAwayTeam',
    'MarketMaxOver2.5Goals', 'MarketMaxUnder2.5Goals',
    'MarketAvgOver2.5Goals', 'MarketAvgUnder2.5Goals'
]

In [42]:
prem2 = prem1.drop(columns=odds_columns)
prem2.head(1)

,MatchID,Season,MatchWeek,Date,Time,HomeTeam,AwayTeam,FullTimeHomeTeamGoals,FullTimeAwayTeamGoals,FullTimeResult,...,AwayTeamFouls,HomeTeamYellowCards,AwayTeamYellowCards,HomeTeamRedCards,AwayTeamRedCards,HomeTeamPoints,AwayTeamPoints,year,month,day
0,1993-1994_Arsenal_Coventry,1993-1994,1,1993-08-14,NaN,Arsenal,Coventry,0,3,A,...,NaN,NaN,NaN,NaN,NaN,0,3,1993,8,14

In [44]:
prem2.to_csv('cleanedprem.csv', index=False)